<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inscription</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="http://localhost:81/css/sb-admin-2.css" rel="stylesheet" type="text/css">
  <link href="http://localhost:81/cedoc/background.css" rel="stylesheet" type="text/css">


</head>


<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <img src="http://localhost:81/img/event_1.jpg" alt="Image"> 
            <div align="center">
                <h1 class="h4 text-gray-900 mb-4">S'inscrire</h1>
                {% block body %}
                  {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Register
                    </button>
                  {{ form_end(form) }}
                {% endblock %}
                <p></p>
                <button class="btn btn-lg btn-primary btn-block" onclick="location.href='login'" type="submit">
                    Se connecter
                </button>
            </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="http://localhost:81/js/jquery.min.js"></script>
  <script src="http://localhost:81/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="http://localhost:81/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="http://localhost:81/js/sb-admin-2.min.js"></script>

</body>

</html>
