<!DOCTYPE html>
<html lang="en">
<head>
<title>Page d'acceuil</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/animate.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/main_styles.css">
        <link rel="stylesheet" type="text/css" href="http://localhost:81/css/responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="http://localhost:81/img/image.png" alt="">
					<span>CEDoc</span>
				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="/">Acceuil</a></li>
						{# <li class="main_nav_item"><a href="login">Se connecter</a></li> #}
						<li class="main_nav_item"><a href="register">S'inscrire</a></li>
						<li class="main_nav_item"><a href=""></a></li>
						<li class="main_nav_item"><a href="dashboard">Admin</a></li>
						<li class="main_nav_item"><a href="profile">Modifier mon profil</a></li>
					</ul>
				</div>
			</nav>
		</div>

	</header>
	
	<!-- Home -->

	<div class="home">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel">
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(http://localhost:81/img/slider_background.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Centres d'Etudes Doctorales</h1>
							<h2 style="text-align:center;">Ce portail héberge la plateforme de préinscription en ligne permettant à toute personne désirant poursuivre des études au sein de notre université de s'inscrire à distance à la formation doctorale qui correspond à son profil.</h2>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	
</div>

<script src="http://localhost:81/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost:81/js/popper.js"></script>
<script src="http://localhost:81/js/bootstrap.min.js"></script>
<script src="http://localhost:81/js/TweenMax.min.js"></script>
<script src="http://localhost:81/js/TimelineMax.min.js"></script>
<script src="http://localhost:81/js/ScrollMagic.min.js"></script>
<script src="http://localhost:81/js/animation.gsap.min.js"></script>
<script src="http://localhost:81/js/ScrollToPlugin.min.js"></script>
<script src="http://localhost:81/js/owl.carousel.js"></script>
<script src="http://localhost:81/js/jquery.scrollTo.min.js"></script>
<script src="http://localhost:81/js/easing.js"></script>
<script src="http://localhost:81/js/custom.js"></script>

</body>
</html>